<div class="profile">
  <img src="img/profile.jpg" alt="Lorenzo Bianchi">
  <div class="title">
    <h1>Lorenzo Bianchi</h1>
    <p class="header-typewriter">Artificial Intelligence Researcher</p>
    <div class="social-links">
      <a href="https://github.com/lorebianchi98" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      <a href="https://scholar.google.com/citations?user=MBTBfJ4AAAAJ&hl=it" target="_blank" title="Google Scholar"><i class="fas fa-graduation-cap"></i></a>
      <a href="https://linkedin.com/in/lorenzo-bianchi-893bb225a" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
      <a href="https://huggingface.co/lorebianchi98" target="_blank" title="Hugging Face">
        <i class="fa-solid fa-face-laugh-beam"></i>
      </a>
      <a href="mailto:bianchi.lorenzo998@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</div>

<nav>
  <ul>
    <li><a href="index.html">Bio</a></li>
    <li><a href="curriculum.html">Curriculum</a></li>
    <li><a href="publications.html">Publications</a></li>
    <li><a href="demo.html">Demos</a></li>
  </ul>
</nav>
